body {
    background:#999;
}

.move-me   {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    right: 600px;
}

.section-1  {
    width: 500px;
    height: 400px;
}

.section-2  {
    

}